<h1>News list</h1>
  {{!-- {{#each news.GruposParlamentares}}
<p>Grupos: {{pt_gov_ar_objectos_GPOut.sigla}}</p>
<p>Grupos: {{pt_gov_ar_objectos_GPOut}}</p>

<p>{{GruposParlamentares.pt_gov_ar_objectos_GPOut.sigla}}</p>
<p>{{GruposParlamentares}}</p>
<p>{{GruposParlamentares.pt_gov_ar_objectos_GPOut.sigla}}</p>
<p>Circulos{{CirculosEleitorais}}</p>
<p>Deputados{{Deputados}}</p>
<p>Detalge Legis{{DetalheLegislatura}}</p>
<p>{This Sigla{this.sigla}}</p>
<p>Sigla{{sigla}}</p>
  {{/each}}
<p>{{GruposParlamentares.pt_gov_ar_objectos_GPOut.sigla}}</p> --}}

{{#each news.Legislatura.GruposParlamentares.pt_gov_ar_objectos_GPOut}}
<p> Sigla: {{sigla}} - Nome: {{nome}} </p>
{{/each}}



{{#each news.Legislatura.Deputados.pt_ar_wsgode_objectos_DadosDeputadoSearch}}
<p>{{this.depNomeParlamentar}}</p>
<a href="/news/{{this.depId}}/"> mais info</a>
<a href="/news/{{_id}}/"> mais info2</a>
{{/each}}
