<h1>News list</h1>
  {{#each news}}
<p>Grupos: {{this.GruposParlamentares.pt_gov_ar_objectos_GPOut.sigla}}</p>
<p>{{GruposParlamentares.pt_gov_ar_objectos_GPOut.sigla}}</p>
<p>{{GruposParlamentares}}</p>
<p>{{GruposParlamentares.pt_gov_ar_objectos_GPOut.sigla}}</p>
<p>Circulos{{CirculosEleitorais}}</p>
<p>Deputados{{Deputados}}</p>
<p>Detalge Legis{{DetalheLegislatura}}</p>
<p>{This Sigla{this.sigla}}</p>
<p>Sigla{{sigla}}</p>
  {{/each}}
<p>{{GruposParlamentares.pt_gov_ar_objectos_GPOut.sigla}}</p>



