{{#each deputies}}
<div class="col">
  <div class="card h-100">
    {{#if image_url}}
    <img src="{{image_url}}" class="card-img-top" alt="..."/>
    {{else}}
    <img class="card-img-hidden" src="{{image_url}}" class="card-img-top" alt="..."/>
    {{/if}}
    <div class="card-body">
      <h5 class="card-title">Nome: {{name}}</h5>
      <p class="card-text">Partido: {{this.party}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Data de Nascimento: {{this.birthdate}}</small>
    </div>
  </div>
</div>
{{/each}}

