<h1>Nome: {{this.depNomeCompleto}}</h1>
<h3>Partido: {{depNomeCompleto}}</h3>
<p>Génro: {{this.depId}}</p>
<p>Génro: {{depId}}</p>
<p>ID: {{this.newsById}}</p>
<p>Name: {{this.depNomeParlamentar}}</p>



<p>Rating: {{rating}}</p>
<a href="/news/{{_id}}/edit">Edit book</a>
<hr />
<p>Add a review</p>
{{!-- <form action="/reviews/{{id}}/add" method="POST">
  <label>Username</label>
  <input type="text" name="username" />

  <label>Comment</label>
  <textarea name="comment"></textarea>

  <button type="submit">Add review</button>
</form> --}}
<hr />