<!DOCTYPE html>
<html lang='en'>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/empty-background.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/globals.css" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="empty-background" />
    <div class="empty-background screen">
        <img class="group-6800-kV0Jby" src="/images/group-6800@2x.png" />
        <div class="group-6801-kV0Jby">
            <img class="logo-1-2ouVfe" src="/images/logo-1@2x.png" />
            <div class="populis-2ouVfe">POPULIS</div>
            <div class="silent-2ouVfe">VOX</div>
            {{#each polls }}
            <div class="form_poll">
                <form onsubmit="vote(event);" id="{{this._id}}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-arrow-right"></span>{{ this.topic }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each this.choices}}
                                <li class="list-group-item">
                                    <div class="radio">
                                        <label>
                                            {{!-- <input type="radio" name="optionsRadios" value="{{@index}}"> --}}
                                            {{ this.value }}
                                            <div class="alignright" id="vote-count-{{../id}}-{{@index}}">{{
                                                this.votes
                                                }}</div>
                                        </label>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" id="vote-btn-{{this.id}}" class="btn btn-primary btn-sm" value="Vote">
                        </div>
                    </div>
                </form>

                {{/each}}
            </div>
        </div>

    </div>
</body>

</html>